.V5layout {
  background-color: rgba(74, 66, 97, 0.435);
  margin: 0 20%;
  padding: 10px;
  background-attachment: fixed !important;
  align-items: center;
}
@media screen and (max-width: 750px) {
  /* Rédigez les propriétés CSS ici */
  .V5layout {
    margin: 0 5%;
    padding: 5px;
  }
}
