body {
  margin: 0;
  font-family:
    "JetBrains",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: aliceblue;
}
body:after {
  content: "";
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background: url(./../public/assets/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  background: linear-gradient(45deg, #8151a3, #652b97);
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed !important;
  min-height: 100%;
}

code {
  font-family: JetBrains, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --primary: #5e35b1;
}
