body {

  margin: 0;
  font-family: 'JetBrains', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-attachment: scroll;
  color: aliceblue;

}

html {
  background: linear-gradient(45deg, #8151a3, #652b97);
  background-image: url(./../public/assets/bg.jpg);
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;

}

code {
  font-family: JetBrains, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #5e35b1;
}